@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

#titles,
#information,
#anatomy {
  color: #000;
}

#titles {
  background-color: #EAEBE6;
  padding: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#information,
#anatomy {
  flex: 1 1 400px;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2px;
}

.slogan {
  font-size: 1.75rem;
  font-weight: 450;
  margin-top: 0;
}

#informationtitle,
#anatomytitle {
  font-size: 1.5rem;
}

#informationdescription,
#anatomydescription {
  font-size: 1.1rem;
}

#informationtitle {
  margin-bottom: 5px;
  font-weight: 700;
}

#informationdescription {
  font-weight: 450;
}

#anatomytitle {
  margin-bottom: 5px;
  font-weight: 700;
}

#anatomydescription {
  font-weight: 450;
}
