@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

#titles {
  background-color: #EAEBE6;
  padding: 15px;
}

#information,
#anatomy,
#problem,
#usage {
  padding: 25px;
}

#information {
  margin-left: 10%;
  margin-right: 50%;
}

#anatomy {
  margin-right: 10%;
  margin-left: 50%;
}

#problem {
  margin-left: 10%;
  margin-right: 50%;
}

#usage {
  background-color: #EAEBE6;
  padding: 15px;
}

.name {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 2px;
}

.slogan {
  font-size: 35px;
  font-weight: 450;
  margin-top: 0;
}

#informationtitle,
#anatomytitle,
#problemtitle,
#usagetitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

#informationdescription,
#anatomydescription,
#problemdescription,
#usagedescription {
  font-size: 25px;
  font-weight: 450;
}

.docs {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 7px;
  border: 5px solid #C7D4D5;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  background-color: #DFE8E9;
}

.docs:hover {
  border: 5px solid #DFE8E9;
  background-color: #C7D4D5;
}
